* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/imagemFundoLP.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root{
  --branco-700 : #F5F5F5;
  --azul-200:#1E88E5;
  --cinza-800:#424242;
  --cinza-100: #EEEEEE;
  --vermelho-300:#E63946;
}

.lista-navegacao a{
  text-decoration: none;
  color: var(--cinza-100);
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.lista-navegacao a:hover{
  transform: scale(1.2);
}

.secao-sobre{
  color: var(--branco-700);
  
}